<html>
    <head> <title> el blog de Ainara </title>
    </head>

    <body>
        <div> <h1> el blog de Ainara </h1>
        </div>
        <div> <p> publicado: hoy </p>
            <h2><a href =""> Un titulo </a> </h2>
            <p> aqui esta el post numero  <strong>1</strong> </p>
        </dIv>

           <div> <p> publicado: hoy </p>
            <h2><a href =""> El 2o titulo </a> </h2>
            <p> <ul><li> <em>una</em> cosa </li>
                            <li> otra cosa </li>
                            <br />
                            <li> la 3era cosa </li>
                            </ul> </p>
        </dIv>
    <p> kaixo!! </p>
    <p> sirve </p>
</body>
</html>
